#keyview {
    position:absolute;
    bottom: 50px;
    right: 50px;
}

#board {
    position: absolute;
    bottom: 20px;
    left: 120px;
}

#block {
    position: absolute;
    bottom: 20px;
    left: 120px;
}

#paragraph {
    position: absolute;
    right: 20px;
}

#next {
    position: absolute;
    bottom: 240px;
    left: 440px;
}

#hold {
    position: absolute;
    bottom: 540px;
    left: 20px;
}