#keyview {
    position:absolute;
    bottom: 50px;
    right: 50px;
}

#board {
    position: absolute;
    bottom: 20px;
    left: 120px;
}

#ghost {
    position: absolute;
    bottom: 20px;
    left: 120px;
    opacity: 0.4;
}

#block {
    position: absolute;
    bottom: 20px;
    left: 120px;
}

#paragraph {
    position: absolute;
    right: 20px;
}

#next {
    position: absolute;
    bottom: 220px;
    left: 440px;
}

#hold {
    position: absolute;
    bottom: 520px;
    left: 20px;
}